{% extends "app/template.html" %}

{% load static %}

{% block title %}Khaldun AI{% endblock %}

{% block body %}
<h1 style="text-align: center; font-size: 12vh; margin-top: 50px;">The Best AI History Writer!</h1>
<img src="https://cdn.pixabay.com/photo/2016/03/10/09/24/typewriter-1248088_960_720.jpg"
    style="display: block; margin-left: auto; margin-right: auto; border-radius: 25px; width: 90%; max-width: 500px; margin-top: 50px; margin-bottom: 50px;">
<p style="text-align: center; font-size: 40px;">Join Our Beta Program!</p>
<a class="btn btn-warning" href="https://forms.gle/HB16WPckxkXKJu2u7" role="button"
    style="color: white; font-size: 48px; display: block; margin-left: auto; margin-right: auto; width: 300px; border-radius: 25px; margin-bottom: 3vh;">Sign
    up!</a>
{% endblock %}