{% extends "app/template.html" %}

{% load static %}

{% block title %}Khaldun AI{% endblock %}

{% block body %}
<h1 style="text-align: center; font-size: 12vh; margin-top: 50px;">Pricing</h1>
<p style="text-align: center; font-size: 25px; margin-top: 60px; margin: 30px;">Currently, we offer the basic plan which
    is $15 per
    50k tokens per
    month, where 1k
    tokens is about 750 words. With $15, you get approximately 38,000 words! With this plan, you can save thousands of
    dollars, as you don't need to pay a freelancer!</p>

<p style="text-align: center; font-size: 25px; margin-top: 60px; margin: 30px;">If you want, you can also have a chat
    with the team on anything related to this project. We also have a referral program. Contact us if interested.</p>
<p style="text-align: center; font-size: 40px;">Join Our Beta Program!</p>
<a class="btn btn-warning" href="https://forms.gle/HB16WPckxkXKJu2u7" role="button"
    style="color: white; font-size: 48px; display: block; margin-left: auto; margin-right: auto; width: 300px; border-radius: 25px;">Sign
    up!</a>
{% endblock %}